{% extends 'base.html' %}


{% block title %}
    Login - SimpleLogin
{% endblock %}


{% block style %}
    <style>
        #form {
            width: 60%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #button1{
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="form">
        <form class="form-horizontal" action="{% url 'login:sign_in' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-sm-12">
                    <input name="username" type="text" class="form-control" id="inputEmail3" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <input name="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remeber"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" id="buttons">
                <div class="col-sm-offset-2 col-sm-10" id="button1">
                    <input type="submit" class="btn btn-primary btn-block" value="登录">
                </div>
                <div class="col-sm-offset-2 col-sm-10">
                    <a type="button" class="btn btn-default btn-block" href="{% url 'login:to_sign_up' %}">注册</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

